{% extends 'base.html' %}

{% block bodyblock %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">


                <h2 class="mt-5">Take your picture for Attendance</h2>
                <h4>Press the capture button to be added to the attendance and press stop and start to turn on and off the camera</h4>
                <form method="post" action="{{ url_for('tasks') }}">
                    <input type="submit" value="Capture" name="click" />
                    <input type="submit" value="Stop/Start" name="stop" />
                </form>
                <img src="{{ url_for('video_feed') }}" height="80%">

            </div>
        </div>
    </div>




{% endblock  %}